.boardSquare{
    border: 1px solid #000;
    min-width:75px;
    min-height:75px;
    max-width:75px;
    max-height:75px;
    margin:-1px;
    display: inline-block;
}
.boardRow{
    display:block;
    margin:-5px;
}
.result{
    margin-bottom:20px;
    font-size: 20px;
}
.player{
    text-transform: capitalize;
    font-size: 20px;
}
.resetButton{
    margin:20px;
}