@{
    ViewBag.Title = "Contact";
}

@section pageCSS {

    <style>
        body {
            padding-top: 80px;
        }
    </style>
}


<div class="container marketing">
    
    <h2>@ViewBag.Message</h2>

    <address>
        Level 18, 8 Exhibition Street<br />
        Melbourne<br />
        Victoria 3000<br/>
        Australia<br />
      
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:support@travelbuddy.com">support@example.com</a><br />
        <strong>General enquiries:</strong> <a href="mailto:info@travelbuddy.com">info@example.com</a>
    </address>

</div>